.NewTodoForm {
	display: flex;
	margin-top: 40px;
}

.NewTodoForm-content {
	margin-right: 10px;
}

.NewTodoForm-input {
	width: 300px;
	height: 30px;
	font-size: 18px;
}

.NewTodoForm-btn {
	font-size: 18px;
	width: 105px;
	font-weight: bold;
	background-color: rgb(30, 30, 215);
	color: white;
	border-radius: 5px;
	border: none;
}

.NewTodoForm-btn:hover {
	cursor: pointer;
	background-color: blue;
}

.NewTodoForm-btn:active {
	width: 104px;
	height: 35px;
}
